<body>
    <section id="404" class="intro-section">
        <div class="container">
            <h1>404 Page Not Found</h1>
            <h2>It doesn't look like this page is active at the moment,<br />
            <a href="home.html">Click Here</a> to return to the static homepage</h2>
        </div>
    </section>
</body>
