<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll"><strong>Just Clean Window Cleaning</Strong>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li >
                        <a class="page-scroll" href="#page-top">Top</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                    	<a href="https://www.facebook.com/justcleanwindowcleaning/">Visit us on Facebook!</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                  <img src="images/logo.png" alt="Just Clean Window Cleaning is a professional window cleaning service serving St. Clair County, Madison County, and Clinton County"><br /><br />
                  <strong>(618) 806-7476</strong><br />
                  <strong>JustCleanWindowCleaning.com</strong><br />
                  <strong>Proudly serving the Metro East in St. Clair, Madison, and Clinton Counties</strong><br />
                  <p>Clean, streak-free windows help define the curb appeal of a home.<br />
                    It is recommended to have your residential windows washed at least twice a year, but ideally they are cleaned the beginning of each season.</p>
                  <h3>Amazing Spring Special 2017!!!</h3>
                  <p>
                  Let us help you get a jump on your spring cleaning!<br />
                  <b>Just $159 for up to 20 exterior windows</b><br />
                  (Storm windows not included. Standard 2 pane windows only.)<br />
                  Schedule before May 31st to take advantage of this offer!</p><br />
                  <p><a class="btn btn-social btn-facebook" href="https://www.facebook.com/justcleanwindowcleaning/"><span class="fa fa-facebook"></span><strong>Like us on Facebook!</strong></a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Cleaning with Pure Water</h1>

                    <div class="row"> <!-- FIRST ROW -->
                      <div class="col-sm-6">
                        <p align="justify">Just Clean Window Cleaning uses one key ingredient: pure water! Purified water is delivered through a purification system that hooks up straight from your home’s water spigots. This means that your windows are cleaned without chemical additives. There is no residue or buildup on the surface and it leaves windows spot free after drying!</p>
                      </div>
                      <div class="col-sm-6">
                        <p align="justify">Besides spot and streak free windows, this all-in-one system has other benefits! With a specialized pole we can clean the outsides of most homes or businesses from the ground, which means there is less risk of accidents and saves time. It also means that there is no risk of damage to property. There are no ladders or scaffolding that mark walls and windowsills.</p>

                      </div>
                    </div><br />

                    <div class="row"> <!-- SECOND ROW -->
                      <div class="col-sm-4">
                        <i><b>What happens to my appointment in case of rain?</i></b>
                        <p align="justify">It is our policy to hold our work appointments even in the case of rain. Light rain will not affect the cleaning. In the event of heavy rain we will return within one or two days to complete any outside windows that couldn’t be cleaned during the original appointment. Interiors of windows will be completed as scheduled to prevent disruptions to your schedule.</p>
                      </div>
                      <div class="col-sm-4">
                        <i><b>Does rain make my windows dirty?</i></b>
                        <p align="justify">Dirt is what makes your windows dirty, not rain! It is the dust from things like landscapers, tree pollen, car exhaust. Raindrops move the dirt on your windows, and their drying makes it appears as though the rain drops are what is causing your windows to become dirty. Clean windows remain clean after the rain because once the water has dried there will be no dirt left to obscure the view through your windows!</p>
                      </div>
                      <div class="col-sm-4">
                        <i><b>Can windows be cleaned in the winter?</i></b>
                        <p align="justify">Yes! Window cleaning may be even more important during the winter season. Road salt becomes an airborne powder after it has been driven on. It settles on your window just as any other dust would. We follow proper safety guidelines so that your winter servicing is completed safely and to your satisfaction.</p>
                      </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Services Offered</h1>
                    <!-- FIXME this section should include
                    all of the TOWNS SERVICED,
                    as well as the cleaning services available. -->
                    <table border="0" align="center">
                      <tr>
                        <th class="header"></th>
                        <th class="header">Basic</th>
                        <th class="header">Deluxe</th>
                        <th class="header">Premium</th>
                      </tr>
                      <tr>
                        <th>Exterior Windows Only</th>
                        <td>x</td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <th>Interior & Exterior Windows</th>
                        <td></td>
                        <td>x</td>
                        <td>x</td>
                      </tr>
                      <tr>
                        <th>Window Screens Brushed</th>
                        <td></td>
                        <td></td>
                        <td>x</td>
                      </tr>
                      <tr>
                        <th>Window Screens Scrubbed with Soap & Water</th>
                        <td></td>
                        <td></td>
                        <td>x</td>
                      </tr>
                      <tr>
                        <th>Window Frames Wiped Down</th>
                        <td></td>
                        <td>x</td>
                        <td>x</td>
                      </tr>
                      <tr>
                        <th>Window Tracks Wiped Out</th>
                        <td></td>
                        <td></td>
                        <td>x</td>
                      </tr>
                      <tr>
                        <th>Tracks Vacuumed & Wiped Out</th>
                        <td></td>
                        <td></td>
                        <td>x</td>
                      </tr>
                      <tr>
                        <th>24 Hour Rain Guarantee*</th>
                        <td>x</td>
                        <td>x</td>
                        <td>x</td>
                      </tr>
                      <tr>
                        <th>100% Satisfaction Guarantee**</th>
                        <td>x</td>
                        <td>x</td>
                        <td>x</td>
                      </tr>
                    </table>
                    <br />
                    <div class="row">
                      <div class="col-sm-6">
                        <p style="text-align:left;">* It doesn’t matter what the weatherman says. <strong>If it rains within 24 hours after your windows are cleaned and you call the next business day, you will get a free touch-up on the affected windows.</strong> We want your windows to look great rain or shine!</p>
                      </div>
                      <div class="col-sm-6">
                        <p style="text-align:left;">** We guarantee our window cleaning. If you’re not 100% satisfied, we’ll come back and make it right. No questions asked.</p>
                      </div>
                    </div>
                    <br /><br />

                    <h1>Areas Serviced</h1>
                    <p><a href="stclaircounty">St. Clair County</a> &bull; <a href="madisoncounty">Madison County</a> &bull; <a href="clintoncounty">Clinton County</a> &bull; <a href="washingtoncounty">Washington County</a> &bull; <a href="monroecounty">Monroe County</a> &bull; <a href="randolphcounty">Randolph County</a></p>

                    <p style="font-size:smaller">
                        <a href="belleville">Belleville</a> &bull; <a href="/?Cahokia">Cahokia</a> &bull; <a href="/?Caseyville">Caseyville</a> &bull; <a href="collinsville">Collinsville</a> &bull; <a href="fairviewheights">Fairview Heights</a> &bull; <a href="/?Fayetteville">Fayetteville</a>
                        &bull; <a href="/?Freeburg">Freeburg</a> &bull; <a href="/?Lebanon">Lebanon</a> &bull; <a href="/?Lenzburg">Lenzburg</a> &bull; <a href="/?Marissa">Marissa</a> &bull; <a href="/?Mascoutah">Mascoutah</a> &bull;
                        <a href="/?Millstadt">Millstadt</a> &bull; <a href="/?New+Athens">New Athens</a> &bull; <a href="/?O'Fallon">O'Fallon</a> &bull; <a href="scottafb">Scott AFB</a> &bull; <a href="/?Shiloh">Shiloh</a> &bull;
                        <a href="/?Smithton">Smithton</a> &bull; <a href="/?St.+Libory">St. Libory</a> &bull; <a href="/?Summerfield">Summerfield</a> &bull; <a href="/?Swansea">Swansea</a> &bull; <a href="/?Alton">Alton</a> &bull;
                        <a href="/?Edwardsville">Edwardsville</a> &bull; <a href="/?Granite+City">Granite City</a> &bull; <a href="/?Highland">Highland</a> &bull; <a href="/?Troy">Troy</a> &bull; <a href="/?Wood+River">Wood River</a> &bull;
                        <a href="/?Alhambra">Alhambra</a> &bull; <a href="/?Bethalto">Bethalto</a> &bull; <a href="/?East Alton">East Alton</a> &bull; <a href="/?Glen+Carbon">Glen Carbon</a> &bull; <a href="/?Godfrey">Godfrey</a> &bull;
                        <a href="/?Grantfork">Grantfork</a> &bull; <a href="/?Hamel">Hamel</a> &bull; <a href="/?Marine">Marine</a> &bull; <a href="/?Maryville">Maryville</a> &bull; <a href="/?New+Douglas">New Douglas</a> &bull;
                        <a href="/?Pontoon+Beach">Pontoon Beach</a> &bull; <a href="/?Roxana">Roxana</a> &bull; <a href="/?South+Roxana">South Roxana</a> &bull; <a href="/?St.+Jacob">St. Jacob</a> &bull; <a href="/?Breese">Breese</a> &bull;
                        <a href="/?Carlyle">Carlyle</a> &bull; <a href="/?Trenton">Trenton</a> &bull; <a href="/?Albers">Albers</a> &bull; <a href="/?Aviston">Aviston</a> &bull; <a href="/?Bartelso">Bartelso</a> &bull;
                        <a href="/?Beckemeyer">Beckemeyer</a> &bull; <a href="/?Damiansville">Damiansville</a> &bull; <a href="/?Germantown">Germantown</a> &bull; <a href="/?Hoffman">Hoffman</a> &bull; <a href="/?Keyesport">Keyesport (Southwestern half)</a> &bull;
                        <a href="/?Huey">Huey</a> &bull; <a href="/?New+Baden">New Baden</a> &bull; <a href="/?Addieville">Addieville</a> &bull; <a href="/?Ashely">Ashley</a> &bull; <a href="/?Du+Bois">Du Bois</a> &bull;
                        <a href="/?Hoyleton">Hoyleton</a> &bull; <a href="/?Irvington">Irvington</a> &bull; <a href="/?Nashville">Nashville</a> &bull; <a href="/?New+Minden">New Minden</a> &bull; <a href="/?Oakdale">Oakdale</a> &bull;
                        <a href="/?Okawville">Okawville</a> &bull; <a href="/?Radom">Radom</a> &bull; <a href="/?Richview">Richview</a> &bull; <a href="/?Venedy">Venedy</a> &bull; <a href="/?Wamac">Wamac</a> &bull;
                        <a href="/?Columbia">Columbia</a> &bull; <a href="/?Waterloo">Waterloo</a> &bull; <a href="/?Hecker">Hecker</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact us for More Information</h1>
                    <p>Before calling, take count of the windows of your home that need cleaning- this is how we count them here at Just Clean Window Cleaning:<br />
                      <img src="images/windowCount.jpg" alt="In order to give an accurate estimate for your future service, use this guide to count the windows on your home"></p>
                    <strong>Call us at 618-806-7476</strong><br />
                    <p>Or, use the link below to send us an email about what kinds of services you are seeking- </p>
                    <link rel="stylesheet" href="http://www.thecustomerfactor.com/css/tiny.css" /><script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script><script type="text/javascript" src="http://www.thecustomerfactor.com/js/tinybox.js"></script><div id="thanks_div" class="grayBox"><div class="thanks">Thanks for your interest. We will get back to you as soon as we can!</div></div><a href="javascript:void(0)" onClick="TINY.box.show({iframe:'http://www.thecustomerfactor.com/bid.php?id=anVzdGNsZWFu&c=VVM=',boxid:'frameless',width:860,height:550,fixed:false,maskid:'bluemask',maskopacity:40})"> <img src="http://www.thecustomerfactor.com/images/script/checkestimate_blue.png" height="50" width="260" alt="Click here to message us"> </a>
                    <br /><br />
                    <a href="sitemap.html">View Sitemap</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Scrolling Nav JavaScript -->
    <script src="js/scrolling-nav.js"></script>

    <!-- Google analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-93150283-1', 'auto');
    ga('send', 'pageview');

    </script>

</body>
